body {
  display: grid;

  min-height: 100vh;

  justify-content: center;
  align-content: center;

  background-image: url("../images/Death-Star-Backgrounds.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

.game-container {
  background-color: rgba(40, 40, 40, 0.8);
  min-width: 50vw;
  text-align: center;

}

#instructions {
  margin: 10px;
  line-height: 2rem;
  font-size: 1.5rem;
}

#messages {
  margin: 10px;
  line-height: 1.5rem;
  font-size: 1rem;
}

.grid-center {
  display: grid;
  justify-content: center;
  align-content: center;
}

.grid-1-row {
  grid-template-rows: auto;
}

.character {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  margin: 2px;
  padding: 5px;
}

.row-1 {
  grid-row: 1;
}

.stats-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.color-white {
  color: white;
}

.text-center {
  text-align: center;
}